<a href="/admin" class="btn btn-info">Dashboard</a>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
        <h1>Thông tin User</h1>
            <% include ../partials/messages %>

            <form method="post">
            <table class="table">
                <tr>
                    <td>Họ:</td>
                    <td><%= user.firstName%></td>
                </tr>
                <tr>
                    <td>Tên:</td>
                    <td><%= user.surName%></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><%= user.loginName%></td>
                </tr>
                <tr>
                    <td>Ngày sinh:</td>
                    <td><%= user.birthday.toDateString()%></td>
                </tr>
                <tr>
                    <td>Giới tính:</td>
                    <td><%= user.gender%></td>
                </tr>

            </table>
                <% if(!user.isReject){%>
                <% for(var i=0;i< user.img.length; i++){%>
                <img width="30%" height="auto" src="/images/uploads/<%= user.img[i]%>">
                <%}%>
                <% if(user.isApprove==false  && user.img.length !== 0 ){ %>
                <button type="submit" name="button" value="approve" class="btn btn-primary">Phê Duyệt</button>
                <button type="submit" name="button" value="reject" class="btn btn-secondary">Từ chối</button>
                <%}%>
                <%}%>

            </form>
        </div>
    </div>
</div>